li{
  display: block;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(45deg, white 10%, #999 100%);
  float: left;
}
div{
  background-color: green;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}
ul{
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 800px;
  clear: both;
  margin-bottom: 100px;
}
li:nth-child(2n){
  background-image: linear-gradient(45deg, black 10%, #555 90%);
}
ul:nth-child(2n) li:nth-child(2n){
  background-image: linear-gradient(45deg, white 10%, #999 100%);
}
ul:nth-child(2n) li:nth-child(1n){
  background-image: linear-gradient(45deg, black 10%, #333 90%);
}
ul:nth-child(2n) li:nth-child(2n){
  background-image: linear-gradient(45deg, white 10%, #999 100%);
}
.ficha{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 2px 2px 4px #333, inset 8px 8px 20px grey;
}
ul:nth-child(1) li:nth-child(1) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(2) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(3) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(4) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(5) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(6) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(7) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(1) li:nth-child(8) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ficha1{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 2px 2px 4px #333, inset 8px 8px 20px grey;
}
ul:nth-child(2) li:nth-child(1) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(2) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(3) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(4) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(5) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(6) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(7) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(2) li:nth-child(8) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ficha2{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  background-color: black;
  border-radius: 50px;
  position: relative;
  top: 100px;
  left: 0px;
  box-shadow: 2px 2px 4px black, inset 8px 8px 20px #555;
}
ul:nth-child(3) li:nth-child(1) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(2) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(3) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(4) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(5) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(6) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(7) div{
  position: relative;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(3) li:nth-child(8) div{
  position: relative;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ficha3{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  background-color: black;
  border-radius: 50px;
  position: relative;
  top: -100px;
  left: 0px;
  box-shadow: 2px 2px 4px black, inset 8px 8px 20px #555;
}
ul:nth-child(4) li:nth-child(1) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(4) li:nth-child(2) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(4) li:nth-child(3) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(4) li:nth-child(4) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(4) li:nth-child(5) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(4) li:nth-child(6) div{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(8) li:nth-child(7) div{
  position: relative;
  top: -100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
ul:nth-child(8) li:nth-child(8) div{
  position: relative;
  top: -100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
